.consultation__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.consultation {
  margin-bottom: 152px; }
  @media screen and (max-width: 550px) {
    .consultation {
      margin-bottom: 64px; } }
  .consultation__heading {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 93px; }
  .consultation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 550px) {
      .consultation__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .consultation__info {
    width: 40%; }
    @media screen and (max-width: 550px) {
      .consultation__info {
        width: 100%; } }
  .consultation__info-heading {
    margin: 0 auto 16px; }
  .consultation__info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px; }
  .consultation__form {
    width: 40%; }
    @media screen and (max-width: 550px) {
      .consultation__form {
        width: 100%;
        margin-top: 16px; } }
  .consultation .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation .form__item {
      margin-bottom: 16px; }
    .consultation .form__input {
      width: 100%;
      height: 48px;
      background: #f7f8ff;
      border: 1px solid transparent;
      border-radius: 8px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 17px;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
      .consultation .form__input::-webkit-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::-moz-placeholder {
        color: #b9c1ce; }
      .consultation .form__input:-ms-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::-ms-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::placeholder {
        color: #b9c1ce; }
      .consultation .form__input:focus {
        -webkit-box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
                box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
        border-radius: 5px; }
  .consultation .button {
    color: #fff;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border: 1px solid transparent;
    margin-top: 16px;
    -webkit-transition: color, background-color, 0.2s ease-in-out;
    transition: color, background-color, 0.2s ease-in-out; }
    .consultation .button:focus {
      -webkit-box-shadow: 8px 8px 8px rgba(1, 22, 39, 0.75);
              box-shadow: 8px 8px 8px rgba(1, 22, 39, 0.75);
      border-radius: 5px; }
    .consultation .button:hover {
      color: #0075ff;
      background-color: #fff;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }

/*# sourceMappingURL=consultation.css.map */
