.contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contacts__heading {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 93px; }

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 550px) {
    .contacts__wrap {
      grid-template-columns: 1fr;
      grid-row-gap: 32px; } }

.contacts__info {
  width: 80%; }
  @media screen and (max-width: 550px) {
    .contacts__info {
      width: 100%; } }

.contacts .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 550px) {
    .contacts .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .contacts .info__title {
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    color: #9fadc2;
    margin: 0 0 8px; }
  .contacts .info__title--email {
    margin-top: 24px; }
  @media screen and (max-width: 550px) {
    .contacts .info__address {
      margin-top: 24px; } }
  .contacts .info__link {
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    color: #3e3e3e;
    margin-bottom: 24px; }

.contacts__form {
  width: 80%;
  justify-self: self-end; }
  @media screen and (max-width: 550px) {
    .contacts__form {
      width: 100%; } }

.contacts .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contacts .form__item {
    margin-bottom: 16px; }
  .contacts .form__input {
    width: 100%;
    height: 48px;
    background: #f7f8ff;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 17px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal; }
    .contacts .form__input:focus {
      -webkit-box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
              box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
      border-radius: 5px; }
    .contacts .form__input::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::-moz-placeholder {
      color: #b9c1ce; }
    .contacts .form__input:-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::placeholder {
      color: #b9c1ce; }
  .contacts .form__textarea {
    height: 144px; }
  .contacts .form:focus {
    -webkit-box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
            box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
    border-radius: 5px; }

.contacts .button {
  color: #fff;
  background: #0075ff;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border: 1px solid transparent;
  margin-top: 16px;
  -webkit-transition: color, background-color, 0.2s ease-in-out;
  transition: color, background-color, 0.2s ease-in-out; }
  .contacts .button:focus {
    -webkit-box-shadow: 8px 8px 8px rgba(1, 22, 39, 0.75);
            box-shadow: 8px 8px 8px rgba(1, 22, 39, 0.75);
    border-radius: 5px; }
  .contacts .button:hover {
    color: #0075ff;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer; }

/*# sourceMappingURL=contacts.css.map */
