.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.toggle__span::before, .toggle__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.toggle__mobile {
  display: none; }

.toggle__menu {
  opacity: 0;
  position: absolute;
  top: -100%; }

.toggle__btn {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 1; }

.toggle__item {
  margin-bottom: 32px; }

.toggle__link {
  color: white;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.toggle__contact {
  margin-top: 16px; }

.toggle .contact__info {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #fff; }

.toggle__menu:checked ~ .toggle__mobile {
  display: block;
  padding: 120px 20px 52px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #0075ff;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s; }

.toggle__span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.toggle__span::before {
  content: "";
  top: -8px; }

.toggle__span::after {
  content: "";
  top: 8px; }

.toggle__menu:checked ~ .toggle__btn > .toggle__span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.toggle__menu:checked ~ .toggle__btn > .toggle__span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.header {
  height: 700px;
  padding: 56px 120px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  @media screen and (max-width: 550px) {
    .header {
      padding: 40px 20px;
      height: 100vh; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    letter-spacing: 2px; }
  .header__logo {
    margin-top: -32px;
    z-index: 2; }
    @media screen and (max-width: 550px) {
      .header__logo {
        margin-top: -24px; } }
    .header__logo .logo__img {
      width: 115px;
      height: 76px; }
      @media screen and (max-width: 550px) {
        .header__logo .logo__img {
          width: 77px;
          height: 50px; } }
  .header__link-phone {
    color: white; }
  @media screen and (max-width: 550px) {
    .header__tel {
      display: none; } }
  .header__phone-icon {
    display: none;
    cursor: pointer; }
    @media screen and (max-width: 550px) {
      .header__phone-icon {
        display: block; } }
  @media screen and (max-width: 550px) {
    .header__action {
      display: none; } }
  .header__link-order {
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    color: white; }
  .header__toggle {
    display: none; }
    @media screen and (max-width: 550px) {
      .header__toggle {
        display: block; } }
  .header__heading {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #fff;
    position: absolute;
    bottom: 165px; }
    @media screen and (max-width: 550px) {
      .header__heading {
        font-size: 46px;
        line-height: 40px;
        letter-spacing: -1px;
        bottom: 80px; } }
    .header__heading::before {
      content: "";
      position: absolute;
      border-radius: 2px;
      background-color: #fff;
      width: 35px;
      height: 2px;
      top: -16px;
      left: 0; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
    .header__nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

/*# sourceMappingURL=header.css.map */
