h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
h1,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #0075ff; }

ul {
  list-style-type: none; }

strong {
  font-weight: 500; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 120px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    padding: 8px 24px; }
  .nav__item-active {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px; }
  .nav__link {
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 700px;
  padding: 56px 120px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    letter-spacing: 2px; }
  .header__logo {
    margin-top: -32px; }
    .header__logo .logo__img {
      width: 115px;
      height: 76px; }
  .header__link-phone {
    color: white; }
  .header__link-order {
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    color: white; }
  .header__heading {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #fff;
    position: absolute;
    bottom: 165px; }
    .header__heading::before {
      content: "";
      position: absolute;
      border-radius: 2px;
      background-color: #fff;
      width: 35px;
      height: 2px;
      top: -16px;
      left: 0; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
    .header__nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 152px; }
  .about__heading {
    width: 50%; }
  .about__text {
    width: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px; }
  .about__text--heading {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    font-weight: bold; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gallery {
  margin-bottom: 152px; }
  .gallery__heading {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 61px; }
    .gallery__heading::before {
      content: url(../images/crown.svg);
      position: absolute;
      width: 23px;
      height: 16px;
      top: 50%;
      left: calc(50% - 11.5px); }
  .gallery__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 256px;
    grid-column-gap: 20px; }
  .gallery .item__size--2-1 {
    grid-template-columns: 2fr 1fr; }
  .gallery .item__size--1-2 {
    grid-template-columns: 1fr 2fr; }
  .gallery .item__photo {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .gallery__caption {
    margin: 24px 0 40px;
    font-size: 16px;
    line-height: 27px; }
  .gallery__button {
    display: block;
    margin: 0 auto;
    width: 188px;
    border: 2px solid #0075ff;
    color: #0075ff;
    -webkit-transition: color, background-color, 0.2s ease-in-out;
    transition: color, background-color, 0.2s ease-in-out; }
    .gallery__button:hover {
      color: #fff;
      background-color: #0075ff;
      cursor: pointer; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__button, .consultation .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.consultation__heading {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 93px; }
  .consultation__heading::before {
    content: url(../images/crown.svg);
    position: absolute;
    width: 23px;
    height: 16px;
    top: 50%;
    left: calc(50% - 11.5px); }

.consultation__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.consultation__info {
  width: 40%; }

.consultation__info-heading {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
  margin: 0 auto 16px; }

.consultation__info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px; }

.consultation__form {
  width: 40%; }

.consultation .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .consultation .form__item {
    margin-bottom: 16px; }
  .consultation .form__input {
    width: 100%;
    height: 48px;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 17px; }

.consultation .button {
  color: #fff;
  background: #0075ff;
  -webkit-box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
  border: 1px solid transparent;
  margin-top: 16px; }

.main {
  padding: 104px 120px 88px; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
