h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
h1,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #0075ff; }

ul {
  list-style-type: none; }

strong {
  font-weight: 500; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 120px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    padding: 8px 24px; }
  .nav__item-active {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px; }
  .nav__link {
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  height: 700px;
  padding: 56px 120px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    letter-spacing: 2px; }
  .header__logo {
    margin-top: -32px; }
    .header__logo .logo__img {
      width: 115px;
      height: 76px; }
  .header__link-phone {
    color: white; }
  .header__link-order {
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    color: white; }
  .header__heading {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #fff;
    position: absolute;
    bottom: 165px; }
    .header__heading::before {
      content: "";
      position: absolute;
      border-radius: 2px;
      background-color: #fff;
      width: 35px;
      height: 2px;
      top: -16px;
      left: 0; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
    .header__nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 152px; }
  .about__heading {
    width: 50%; }
  .about__text {
    width: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px; }
  .about__text--heading {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    font-weight: bold; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gallery {
  margin-bottom: 152px; }
  .gallery__heading {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 61px; }
  .gallery__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 256px;
    grid-column-gap: 20px; }
  .gallery .item__size--2-1 {
    grid-template-columns: 2fr 1fr; }
  .gallery .item__size--1-2 {
    grid-template-columns: 1fr 2fr; }
  .gallery .item__photo {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .gallery__caption {
    margin: 24px 0 40px;
    font-size: 16px;
    line-height: 27px; }
  .gallery__button {
    display: block;
    margin: 0 auto;
    width: 188px;
    border: 2px solid #0075ff;
    color: #0075ff;
    -webkit-transition: color, background-color, 0.2s ease-in-out;
    transition: color, background-color, 0.2s ease-in-out; }
    .gallery__button:hover {
      color: #fff;
      background-color: #0075ff;
      cursor: pointer; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.consultation {
  margin-bottom: 152px; }
  .consultation__heading {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 93px; }
  .consultation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .consultation__info {
    width: 40%; }
  .consultation__info-heading {
    margin: 0 auto 16px; }
  .consultation__info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px; }
  .consultation__form {
    width: 40%; }
  .consultation .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation .form__item {
      margin-bottom: 16px; }
    .consultation .form__input {
      width: 100%;
      height: 48px;
      background: #f7f8ff;
      border: 1px solid transparent;
      border-radius: 8px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 17px;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal; }
      .consultation .form__input::-webkit-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::-moz-placeholder {
        color: #b9c1ce; }
      .consultation .form__input:-ms-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::-ms-input-placeholder {
        color: #b9c1ce; }
      .consultation .form__input::placeholder {
        color: #b9c1ce; }
  .consultation .button {
    color: #fff;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border: 1px solid transparent;
    margin-top: 16px;
    -webkit-transition: color, background-color, 0.2s ease-in-out;
    transition: color, background-color, 0.2s ease-in-out; }
    .consultation .button:hover {
      color: #0075ff;
      background-color: #fff;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.testimonials {
  margin-bottom: 152px; }
  .testimonials__heading {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 93px; }
  .testimonials .person {
    max-width: 240px;
    text-align: center; }
    .testimonials .person__photo {
      width: 153px;
      height: 153px;
      border-radius: 50%; }
    .testimonials .person__name {
      margin: 28px 0 0; }
    .testimonials .person__position {
      font-size: 14px;
      line-height: 27px;
      font-weight: normal;
      color: #9fadc2;
      text-align: center;
      margin: 4px 0; }
    .testimonials .person__text {
      font-size: 16px;
      line-height: 27px;
      font-weight: normal;
      color: #3e3e3e;
      margin: 4px 0 0; }
  .testimonials__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contacts__heading {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 93px; }

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contacts__info {
  width: 80%; }

.contacts .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts .info__title {
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    color: #9fadc2;
    margin: 0 0 8px; }
  .contacts .info__title--email {
    margin-top: 24px; }
  .contacts .info__link {
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    color: #3e3e3e;
    margin-bottom: 24px; }

.contacts__form {
  width: 80%;
  justify-self: self-end; }

.contacts .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contacts .form__item {
    margin-bottom: 16px; }
  .contacts .form__input {
    width: 100%;
    height: 48px;
    background: #f7f8ff;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 17px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal; }
    .contacts .form__input::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::-moz-placeholder {
      color: #b9c1ce; }
    .contacts .form__input:-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .form__input::placeholder {
      color: #b9c1ce; }
  .contacts .form__textarea {
    height: 144px; }

.contacts .button {
  color: #fff;
  background: #0075ff;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border: 1px solid transparent;
  margin-top: 16px;
  -webkit-transition: color, background-color, 0.2s ease-in-out;
  transition: color, background-color, 0.2s ease-in-out; }
  .contacts .button:hover {
    color: #0075ff;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer; }

.main {
  padding: 104px 120px 88px; }

.heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.gallery__heading::before, .consultation__heading::before, .testimonials__heading::before, .contacts__heading::before {
  content: url(../images/crown.svg);
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  left: calc(50% - 11.5px); }

.consultation__info-heading, .testimonials .person__name {
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__button, .consultation .button, .contacts .button {
  height: 56px;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.footer {
  height: 359px;
  position: relative;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: calc(50% - 115px / 2);
    bottom: 40px; }
    .footer__logo .logo__img {
      width: 115px;
      height: 76px; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
